body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0 auto;
}
nav{   
    height: 50px;
    width: 100%;
    display: inline-block;
    top: 0;
    background-color: #333;
    color: white;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    display: inline-block;
    background-color: #ccc;
    margin-right: 20px;
}

a{
    color: white;
    text-decoration: none;
    background-color: aqua;
    padding: 10px;
}